.container{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.table-wrapper{
    padding: 1rem;
    border: 1px solid gray;
}
