.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    font-family: 'Golos Text', sans-serif;
}

.element-active {
    border: 2px solid rgb(197, 197, 197);
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;
    transition: 0.6s all ease-in;
}

.element.element-active:hover{
    background-color: rgb(228, 236, 243) !important;
    color: black !important;
}

.atomic-number {
    position: relative;
    top: 6px;
    left: -15px;
    font-size: 7px;
}

.atomic-weight {
    position: relative;
    top: -2px;
    right: -11px;
    font-size: 7px;
}


.atomic-link:hover{
    color: black !important;
}

.element-name {
    font-size: 7px;
    margin-bottom: 0.3rem;
}

.hidden {
    visibility: hidden;
}


.element.catg{
    border: 3px solid rgb(240, 239, 234);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Golos Text', sans-serif;
    width: 32px;
    height: 32px;
    text-decoration: none;
}

.element.catg .element-name{
    font-size: 10px;
}


.catg-gsn:hover~ :not(.element.element.gsn) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-hlg:hover~ :not(.element.element.hlg) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-nmt:hover~ :not(.element.element.nmt) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-mtl:hover~ :not(.element.element.mtl) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-pbm:hover~ :not(.element.element.pbm) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-tmt:hover~ :not(.element.element.tmt) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-aem:hover~ :not(.element.element.aem) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-amt:hover~ :not(.element.element.amt) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-ltn:hover~ :not(.element.element.ltn) {
    background-color: aliceblue !important;
    color: black !important;
}

.catg-act:hover~ :not(.element.element.act) {
    background-color: aliceblue !important;
    color: black !important;
}
