
.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 46px;
    font-family: 'Golos Text', sans-serif;
}

.element-active{
    border: 1px solid gray;
    border-radius: 2px;
    cursor: pointer;
    font-weight: 400;
}

.atomic-number{
    position: relative;
    top: 6px;
    left: -15px;
    font-size: 7px;
}

.atomic-weight{
    position: relative;
    top: -2px;
    right: -11px;
    font-size: 7px;
}

.element-name{
    font-size: 8px;
    margin-bottom: 0.3rem;
}